<!-- Current player and victims have already been swapped in the code, so the they are reversed here for the sake of proper view -->
<%= @game.current_victim.name %> attacked <%= @game.current_player.name %>

<br>
<%= @game.current_player.name %>: <%= @game.current_player.hit_points %>HP

<form action="/play">
  <input type="submit" value="OK">
</form>
